<heading title="Cadastro de linhas"></heading>

<div class="card-deck">
    <card title="Geral">
        <div class="row">
            <form-field name="letter" class="col-md-4" label="Letra" autoFocus="true"></form-field>
            <form-field name="number" class="col-md-4" label="Número"></form-field>
            <form-field name="peakHeadway" class="col-md-4" label="Intervalo em minutos"></form-field>
        </div>
    </card>
    
    <card title="Itinerário">
        <div class="row">
            <form-field name="fromwards" label="Origem" class="col-md-6"></form-field>
            <form-field name="towards" label="Destino" class="col-md-6"></form-field>
        </div>
    </card>
</div>

<action-button icon="fas fa-save" visibleText="Salvar"></action-button>
