<heading title="Cadastrar nova linha">
    <loading-spinner *ngIf="isLoading"></loading-spinner>
</heading>

<success-message></success-message>
<failure-message></failure-message>

<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <card title="Informações gerais">
        <div class="card-body row">
            <div class="form-group col-md-4">
                <input name="letter" placeholder="Letra" class="form-control" [(ngModel)]="line.letter"
                    #name="ngModel" required maxlength="2" [disabled]="line.id != null" />
            </div>

            <div class="form-group col-md-4">
                <input name="number" placeholder="Número" class="form-control" [(ngModel)]="line.number"
                    #name="ngModel" required maxlength="3" [disabled]="line.id != null" />
            </div>

            <div class="form-group col-md-4">
                <input name="peakHeadway" placeholder="Intervalo de pico (em minutos)" class="form-control" [(ngModel)]="line.peakHeadway"
                    #name="ngModel" required />
            </div>

            <div class="form-group col-md-6">
                <input name="fromwards" placeholder="Origem" class="form-control" [(ngModel)]="line.fromwards"
                    #name="ngModel" required />
            </div>

            <div class="form-group col-md-6">
                <input name="towards" placeholder="Destino" class="form-control" [(ngModel)]="line.towards"
                    #name="ngModel" required />
            </div>

            
        </div>
    </card>

    <card title="Empresa operadora">
        <div class="card-body row">
            <div class="form-group col-md-12">
                <select name="company" class="form-control" [(ngModel)]="line.companyId" #name="ngModel" required>
                    <option *ngFor="let company of companies" [value]="company.id">{{ company.name }}</option>
                </select>
            </div>
        </div>
    </card>

    <div class="card-deck">
        <card title="Pontos de interesse">
            <div class="card-body row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <input name="interestPoint" placeholder="Adicionar ponto" class="form-control" [ngModel]=""
                            #interestPoint="ngModel" />
                        <div class="input-group-append">
                            <a class="btn btn-primary" (click)="onAddInterestPoint(interestPoint.value)">
                                <i class="fas fa-plus text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <h3 class="form-group col-md-12">
                    <badge *ngFor="let item of line.interestPoints"
                        [item]="item.name"
                        (removeEvent)="onRemoveInterestPoint($event)"></badge>
                </h3>
            </div>
        </card>
        
        <card title="Bairros percorridos">
            <div class="card-body row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <input name="place" placeholder="Adicionar bairro" class="form-control" [ngModel]=""
                            #place="ngModel" />
                        <div class="input-group-append">
                            <a class="btn btn-primary" (click)="onAddPlace(place.value)">
                                <i class="fas fa-plus text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <h3 class="form-group col-md-12">
                    <badge *ngFor="let item of line.places"
                        [item]="item.name"
                        (removeEvent)="onRemovePlace($event)"></badge>
                </h3>
            </div>
        </card>

        <card title="Tipos de veículos alocados">
            <div class="card-body row">
                <div class="form-group col-md-12">
                    <div class="input-group">
                        <select name="vehicles" class="form-control" #vehicleType required>
                            <option *ngFor="let vehicleType of vehicleTypes" [ngValue]="vehicle">{{ vehicleType.name }}</option>
                        </select>
                        <div class="input-group-append">
                            <a class="btn btn-primary" (click)="onAddVehicle(vehicleType.value)">
                                <i class="fas fa-plus text-white"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <h3 class="form-group col-md-12">
                    <badge *ngFor="let vehicle of line.vehicles"
                        [item]="vehicle.name"
                        (removeEvent)="onRemoveVehicle($event)"></badge>
                </h3>
            </div>
        </card>
    </div>

    <div class="form-group col-md-12 text-center">
        <reset-button (click)="resetForm(form)"></reset-button>
        <button submit-button 
            [modelId]="line.id"
            [disabled]="!form.valid"></button>
    </div>
</form>
