<!-- Page Wrapper -->
<div id="wrapper">
    <side-link-bar></side-link-bar>

    <div id="content-wrapper" class="d-flex flex-column">

        <main id="content">
            <top-bar></top-bar>
    
            <div class="container-fluid">
                <index></index>
            </div>
        </main>

        <footer-bar></footer-bar>
    </div>

</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<router-outlet></router-outlet>