a:hover {
    text-decoration: none;
}

.scoreboard-container:hover {
    transition: 0.5s;
    transition-timing-function: ease;
    border-color: #bbbbbb;
    font-size: 1.25rem;
    border-width: 0.2rem;
}