<heading title="Veículos">
    <loading-spinner *ngIf="isLoading"></loading-spinner>
</heading>

<success-message></success-message>
<failure-message></failure-message>

<card title="{{ isEditing ? 'Editando: ' + newVehicle.name : 'Criar' }}">
    <div class="card-body">
        <form class="row" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-group col-md-12">
                <input name="name" placeholder="Nome" class="form-control" [(ngModel)]="newVehicle.name"
                    #name="ngModel" required />
            </div>
            
            <div class="form-group col-md-12 text-center">
                <reset-button (click)="onReset(form)"></reset-button>
                <button submit-button 
                    [modelId]="newVehicle.id"
                    [disabled]="!form.valid"></button>
            </div>
        </form>
    </div>
</card>

<card title="Existentes">
    <model-table [columns]="['Ações', 'Nome']">
        <tr *ngFor="let vehicle of vehicles">
            <td>
                <edit-button (click)="onEdit(vehicle)"></edit-button>
                <delete-button (click)="onDelete(vehicle)"></delete-button>
            </td>
            <td>{{ vehicle.name }}</td>
        </tr>
    </model-table>
</card>
